h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  /*max-width: 1128px;*/
  width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style-type: none;
}

.title-two {
  font-weight: 700;
  font-size: 36px;
}

.title-three {
  /* font-weight: 500; */
  font-weight: 700;
  font-style: normal;
}

.section {
}

/*--------------HEADER---------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  padding: 16px;
}

.container {
}

.header-address {
  display: none;
}

.header-nav {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;

  margin-right: auto;
}

.logo-web {
  color: #2e2f42;
}

.nav-list {
  display: none;
}

.menu-open-btn {
  position: absolute;
  /* width: 24px;
  height: 24px; */
  right: 16px;
  border: none;
  background-color: #fff;
  fill: #2f2f37;
}

.header-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header-container {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-content: space-between; */
  padding: 72px 24px 40px 16px;
}

.modal-header-nav {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 40px;
  /* padding-top: 8px; */
}

.modal-nav-list {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;

  display: flex;

  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.modal-nav-item {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-nav-item-link {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-nav-item-link.current {
  color: #404bbf;
}

.modal-nav-item-link:active,
.modal-nav-item-link:focus {
  color: #404bbf;
}

.modal-nav-item-link:visited {
  color: #404bbf;
}

.modal-header-address {
  color: #434455;

  margin-right: auto;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  margin-top: auto;
}

.modal-header-list-address {
  display: flex;

  align-items: center;

  flex-direction: column;
  gap: 24px;
}

.modal-address-item {
  color: #434455;
  display: block;
}

.modal-address-item-link {
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-address-item-link:active,
.modal-address-item-link:focus {
  color: #404bbf;
}

.modal-social-media {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.modal-social-media-item {
  width: 40px;
  height: 40px;
}

/*--------------HERO---------------*/

.hero {
  text-align: center;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/mob/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/mob/hero-bg-mob-2x.jpg");
  }
}

.hero-content {
  align-content: center;

  margin: 0 auto;
  width: 100%;
  padding: 72px 52px;
}

.hero-title {
  color: #fff;
  font-weight: 700;

  letter-spacing: 0.02em;
  width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  padding: 0 24px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:active {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/*--------------POLICIES---------------*/

.policies {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.policies-container {
  margin: 0 auto;
  padding: 0 16px;
}

.policies-icon-container {
  display: none;
}

.policies-item-title {
  font-size: 36px;

  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.item-text {
}

.policies-ul {
  display: flex;
  flex-wrap: wrap;

  padding-top: 96px;
  padding-bottom: 96px;

  gap: 72px;
}

.policies-item {
  width: 100%;
}

.policies-icon {
}

/*--------------TEAM---------------*/

.team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: #f4f4fd;
}

.team-container {
  margin: 0 auto;
  padding: 96px 28px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;

  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-img {
  border-radius: 0 0 4px 4px;
}

.team-ul {
  display: flex;

  gap: 72px;
  flex-wrap: wrap;
}

.team-item-info {
  padding: 32px 0;
}

.social-media {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.social-media-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item:hover {
  background-color: #404bbf;
}

.team-contact-link {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contact-link:hover,
.team-contact-link:active,
.team-contact-link:focus {
  background-color: #404bbf;
}

.team-contact-icon {
  fill: #f4f4fd;
}

/*--------------PORTFOLIO---------------*/

.portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-container {
  margin: 0 auto;
  padding: 96px 16px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-info {
  padding: 32px 16px;
}

/*--------------FOOTER---------------*/

.footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
}

.footer-container {
  margin: 0 auto;
  padding: 96px 16px;
  display: flex;
  justify-content: center;

  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.footer-info {
  max-width: 100%;
  flex-direction: column;
  display: inline-block;

  gap: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  display: block;
  text-align: center;
}

.footer-logo-web {
  color: #f4f4fd;
}

.footer-text {
  max-width: 288px;

  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.footer-social-section {
}

.footer-social-text {
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 208px;
}

.footer-social-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: #31d0aa;
}

.footer-contact-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover {
  background-color: #31d0aa;
}

.footer-contact-link:focus {
  background-color: #31d0aa;
}

.footer-contact-icon {
  fill: #f4f4fd;
}

.footer-form-common {
  width: 100%;
}

.footer-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-form-label {
}

.footer-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  gap: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
}

.footer-form-btn:hover {
  background-color: #31d0aa;
  align-content: center;
}

.icon-submit {
  fill: #fff;
}

/*--------MODAL----------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  /* width: 408px; */
  width: 288px;
  /* min-height: 584px; */
  min-height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  fill: #fff;
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
  fill: #404bbf;
}

.icon-close:focus {
  fill: #404bbf;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.fields-form {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 16px;
}

.modal-text {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-submit {
  position: absolute;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  right: 50%;
  transform: translateX(50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:focus {
  background-color: #404bbf;
}

.modal-privacy-field {
  margin-bottom: 24px;
  display: inline-flex;
}

.modal-check {
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
}

.check-text {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  line-height: 1.17;
}

.check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.decorated-check {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  align-items: center;

  justify-content: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text .decorated-check {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.modal-submit {
  display: block;
  min-width: 169px;
  border: none;
}

/*---------------------------------------*/
/*---------MEDIA TAB --------------------*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /*-------HEADER TAB--------------*/

  .menu-open-btn {
    /* display: none; */
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0;
  }

  .header-container {
    width: 100%;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 76px;
    padding-top: 8px;
  }

  .logo {
  }

  .nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;

    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .nav-item {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
    display: block;
    height: 48px;
  }

  .current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-item-link:hover,
  .nav-item-link:active,
  .nav-item-link:focus {
    color: #404bbf;
  }

  .nav-item-link:visited {
    color: #404bbf;
  }

  .header-address {
    color: #434455;

    margin-left: auto;

    font-size: 12px;

    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
  }

  .header-list-address {
    display: flex;

    align-items: center;

    flex-direction: column;
    gap: 12px;
  }

  .address-item {
    color: #434455;
    display: block;
  }

  .address-item-link {
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-item-link:hover {
    color: #404bbf;
  }

  .address-item-link:active,
  .address-item-link:focus {
    color: #404bbf;
  }

  /*-------HERO TAB----------------*/

  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/tab/hero-bg-tab.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/tab/hero-bg-tab-2x.jpg");
    }
  }

  .hero-content {
    padding: 112px 136px;
  }

  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    padding: 0;
  }

  /*-------POLICIES TAB------------*/

  .policies-item-title {
    text-align: left;
  }

  .item-text {
  }

  .policies-ul {
    gap: 72px 24px;
    align-items: center;
  }

  .policies-item {
    width: calc((100% - 24px) / 2);
  }

  /*------------TEAM TAB-----------*/

  .team-container {
    margin: 0 auto;
    padding: 96px 108px;
  }

  .team-ul {
    display: flex;

    gap: 64px 24px;
    flex-wrap: wrap;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /*---------PORTFOLIO TAB----------*/
  .portfolio-container {
    margin: 0 auto;
    padding: 96px 16px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 2);
  }

  .portfolio-ul {
    gap: 72px 24px;
  }

  /*---------FOOTER TAB----------*/

  .footer-container {
    padding: 96px 108px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 72px 24px;
    flex-direction: row;
    align-items: start;
  }

  .footer-info {
    max-width: (100% - 24px) / 2;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-social-text {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    justify-content: start;
  }

  /*-------MODAL TAB----------*/

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

/*----------------------------*/
/*---------MEDIA DISPLAY ---------*/

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  /*-------HEADER DISPLAY----------*/

  .header-container {
    padding: 24px 156px 0px 156px;
    width: 100%;
  }

  .header-nav {
    gap: 76px;
  }

  .nav-list {
    gap: 40px;
  }

  .header-address {
    color: #434455;
    margin-left: auto;

    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;

    padding-bottom: 8px;
  }

  .header-list-address {
    gap: 12px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /*-------HERO DISPLAY------------*/

  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/display/hero-bg.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/display/hero-bg-2x.jpg");
    }
  }

  .hero-content {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
    font-size: 56px;
  }

  /*-------POLICIES DISPLAY------------*/

  .policies-ul {
    padding-top: 120px;
    padding-bottom: 120px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .policies-item {
    width: calc((100% - 72px) / 4);
  }

  .policies-icon-container {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    align-items: center;
    height: 112px;
  }

  .policies-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  /*------------TEAM DISPLAY-----------*/

  .team-container {
    margin: 0 auto;
    padding: 120px 15px;
  }

  .team-ul {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /*---------PORTFOLIO DISPLAY----------*/
  .portfolio-container {
    margin: 0 auto;
    padding: 120px 156px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-ul {
    gap: 48px 24px;
  }

  /*---------FOOTER DISPLAY----------*/

  .footer-container {
    padding: 100px 156px;
    width: 100%;

    flex-wrap: nowrap;
    align-content: space-between;
  }

  .footer-info {
    min-width: 264px;
  }

  .footer-text {
    width: 100%;
  }

  .footer-social-section {
    margin: 0 10px;
  }

  /*---------MODAL DISPLAY--------*/
}
